*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{

    

}

.header{
    
    margin-bottom: 0;
    
}


.nav{

    background-color:rgb(75, 132, 194);
    
    height: 34px;
    
    
}

.nav__links{

    align-items: center;
    
}

.nav__link{

color: white;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;

}

.nav__link4{

    color: white;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
margin-left: 700px;

}

.nav__link5{

    color: white;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
font-weight: bold;


}

.nav__link2{
color: black;
text-decoration: none;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: bold;
font-size: 16px;
margin: 20px 20px;
align-items: center;
padding: 1px;
}

.nav2{
    padding-bottom: 10px;

    margin-top: 15px;
    border-left: 0px;
    border-right: 0px;
    
    border-style: groove;
    border-top: 1px;
    border-color: rgba(250, 250, 250, 0.315);
}

.nav__logo{

   height: auto;
   width: auto;
  
   
}

.nav__img{
    margin-top: 5px;

    margin-left: 120px;
    height: 40px;
    padding: 1px;
    

}

.progressBar__list{
background-color: white;
box-shadow: 0 15px 25px rgba(0,0,0,0.1);
color: black;
list-style-type: none;
border-radius: 10px;
display: flex;
height: 48px;
width: 1280px;
padding: 20px 10px;
position: relative;
z-index: 10;
}

.progressBar__item{
padding: 0 20px;
flex-basis: 0;
-webkit-box-flex: 1;
-ms-flex-positive: 1;
flex-grow: 1;
max-width: 100%;
display: flex;
flex-direction: column;
text-align: center;
min-width: 170px;
position: relative;


}

.progressBar__item + .progressBar__item:after{
    content:"" ;
    position: absolute;
    left: 38px;
    top: 12px;
    background-color: #EAE5DF;
    width: 220px;
    height: 2px;
    transform: translateX(-50%);
    align-items: center;
    z-index: -10;
}

.progressBar__count{

    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    color: transparent;
}

.progressBar__count:after{
    content: "";
    height: 40px;
    width: 40px;
    background-color:#EAE5DF;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -10;

}

.progressBar__count:before{

    content: "";
    height: 10px;
    width: 20px;
    border-left: 3px solid rgb(255, 255, 255);
    border-bottom: 3px solid rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%) rotate(-45deg);
    transform-origin: center  center;
}

.progressBar__label{

    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}

.current-item .progressBar__count:before,
.current-item ~ .progressBar__item .progressBar__count:before{
    display: none;
}
.current-item ~ .progressBar__item .progressBar__count:after{
    height: 10px ;
    width: 10px;
}

.current-item ~ .progressBar__item .progressBar__label{
    opacity: 0.5;
}

.current-item .progressBar__count:after{
    background-color: rgb(0, 0, 0);
    
}

.current-item .progressBar__count{
    color: black;
}

.progressBar{

}


/* footer */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 8px;
    font-size: 13px;
    
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(29, 84, 48);
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

.footerTag{

    color: #efefef;
    margin-bottom: 10px;
    font-size: 10px;
    text-decoration: none;
    

}
.box{

margin-right: 1px;

}
.divPreguntas{
    align-items: center;
gap: 40px;
width: 1359px;
height: 328px;
margin-top: 150px;
margin-bottom: 50px;

}

.tittlePreguntas{

text-align: center;
margin: 40px;
}

.btn{

    font-family: "Poppins";
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: #292C2E;
    padding: 15px 50px ;
    gap: 4px;
    border-radius: 27px;
    width:  286.33px;
    height:  76px;
   
    border: 2px solid rgb(99, 98, 98);
}
.p1{
    align-items: center;
    font-family: Mont;
    font-size: 32px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    
}

.p2{
   
    
    font-family: Gotham Narrow;
    font-size: 16px;
    font-weight: 325;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    

}

.grid-container{

display: grid;
grid-template-columns: auto auto auto auto;

justify-content: center;
height: 120px;

padding: 10px;

}

.grid-container div{
    align-items: center;
    
}

.btnPrevious{

height: 40px;
width: 193px;
left: 0px;
top: 0px;
border-radius: 0px;
color: #77787A;
padding: 8px 24px 8px 24px;
text-decoration: none;
background-color: #F1F1F1;

}

.btnNext{
   
    height: 40px;
    width: 193px;
    left: 233px;
    top: 0px;
    border-radius: 0px;
    padding: 8px 24px 8px 24px;
    background-color: #292C2E33;    
    color: #FFFFFF;
text-decoration: none;
}

.buttons{
  margin-left: 550px;
    
}


@media screen and (min-width: 768px) {
    
  
  }


  @media screen and (min-width: 1024px) {
    
  
  } 

  @media screen and (min-width: 1440px) {
  
  
  } 